amballs/bin/Debug/amballs.exe
amballs/bin/Debug/out.txt
amballs/bin/Debug/out_red.txt
amballs/bin/Debug/out2.txt
amballs/amballs_redukcja.xlsx
amballs/gen/bin/Debug/gen.exe
amballs/gen/bin/Debug/test20.txt
amballs/gen/bin/Debug/test21.txt
amballs/obj/Debug/main.o
